body {
    background-color: lightblue;
}

header {
    width: 90%;
    margin: 2vh auto;
    display: flex;
    border: 3px solid gray;
    justify-content: space-between;
}
.gameTitle {
    position: relative;
    border: 3px solid orange;
    display: flex;
    align-items: center;
}
.gameStatus {
    position: relative;
    border: 3px solid greenyellow;
    display: flex;
    align-items: center;
    flex-direction: column;
}
main {
    border: 3px solid rgb(2, 45, 5);
    width: 90%;
    height: 70%;
    margin: 0 auto;
    display: flex;
}
.gameContainer {
    /* background-color: rgb(14, 67, 202); */
    height: 100%;
    width: 100%;
    position: relative;
}
canvas {
    background-color: rgb(212, 226, 14);
    /* why does the canvas not fill the entire height? */
    width: 100%;
}
footer {
    margin: 2vh auto;
    width: 90%;
    display: flex;
    flex-direction: row-reverse;
}



