body {
    background-color: lightblue;
    margin: 0;
}
/* .backgroundImage {
    position: absolute;
    width: 100%;
    margin: 0;
    top: 0;
    left: 0;
} */

header {
    width: 90%;
    margin: 2vh auto;
    display: flex;
    border: 3px solid gray;
    justify-content: space-between;
    color: whitesmoke;
}
.gameTitle {
    position: relative;
    border: 3px solid orange;
    display: flex;
    align-items: center;
}
.gameStatus {
    position: relative;
    border: 3px solid greenyellow;
    display: flex;
    align-items: center;
    flex-direction: column;
}
main {
    border: 3px solid rgb(2, 45, 5);
    width: 90%;
    height: 70%;
    margin: 0 auto;
    display: flex;
}
.gameContainer {
    /* background-color: rgb(14, 67, 202); */
    height: 100%;
    width: 100%;
    position: relative;
}
canvas {
    /* background-color: rgb(212, 226, 14); */
    /* why does the canvas not fill the entire height? */
    width: 100%;
    /* background-image: url(./media/DSC08588.jpg);
    background-position: -300px 0px; */
    /* background-size: cover; */
}
footer {
    margin: 2vh auto;
    width: 90%;
    display: flex;
    flex-direction: row-reverse;
}
.gameReset {
    position: fixed;
}



