body {
    background-color: rgb(67, 67, 67);
    margin: 0;
    font-family: 'Stardos Stencil', cursive, sans-serif;
    object-fit: cover;
    overflow: hidden;
    color: rgb(255, 250, 243);
} 
.homeHeader {
    width: 90%;
    height: 10vh;
    margin: 2vh auto;
    display: flex;
}
.homeHeader {
    justify-content: center;
}
h1 {
    text-align: center;
    font-size: 5rem;
    position: relative;
    margin: 0 auto 5vh;
    padding: 0;
}
.gameHeader {
    box-sizing: border-box;
    width: 90%;
    margin: 1vh auto 0;
    display: flex;
    height: 9vh;
    justify-content: space-between;
    align-items: center;
}
.goHome {
    text-decoration: none;
    color: rgb(255, 250, 243);
    background-color: rgb(67, 67, 67);
    font-family: 'Stardos Stencil', cursive, sans-serif;
    border: none;
    padding: 0;
    height: 33%;
    font-size: 1.5rem;
}
.gameTitle {
    margin: 0;
}
.Instructions {
    padding: 0;
    margin: 0;
    height: 33%;
}
.gameStatusContainer {
    padding: 0;
}
.distance {
    margin: 0;
    height: 33%;
    font-size: 1.5rem; 
}
.gameStatusData {
    margin: 0;
    height: 33%;
    font-size: 1.5rem;
    text-align: end; 
}
section {
    width: 90%;
    margin: -3vh auto 1vh;
}
section > p {
    margin: 0;
    font-size: 1.2rem;
}
main {
    width: 90%;
    height: 70vh;
    margin: 0 auto;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
}
.gameContainer {
    width: 100%;
    position: relative;
    justify-content: center;
}
canvas {
    position: relative;
    width: 100%;
    background-image: url(./media/Water.jpg);
    background-size: cover;
    border: 3px solid lightgray;
}
.alcatrazImage {
    max-width: 100%;
    position: absolute;
}
.gameMenu {
    width: 100%;
    top: 0%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.gameObjectiveDiv {
    width: 100%;
    display: flex;
    justify-content: center;
}
.gameObjective {
    display: block;
    position: relative;
    width: 80%;
    font-size: 1.3rem;
    text-align: center;
    margin: 5vh auto 0;
}
.gameFooter {
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    display: flex;
    position: relative;
    justify-content: space-between;
}
.startButton, .gameReset {
    position: relative;
    width: 8rem;
    height: 50%;
    font-size: 1rem;
    background-color: gray;
    color: rgb(255, 250, 243); 
    font-family: 'Stardos Stencil', cursive, sans-serif;
}
.startButton {
    margin-top: 25vh;
}
.startButton:hover, .gameReset:hover, .goHome:hover {
    cursor: pointer;
}
.gameReset {
    position: relative;
    margin: 0;
}
.gameCommentary {
    border: 3px solid lightgray;
    font-size: 1.3rem;
    margin: 0;
    padding: 0.5rem 1rem;
    text-align: center;
    font-style: italic;
}



